USE [master]
GO
/****** Object:  Database [OrdersPaymentsDB]    Script Date: 25.05.2022 23:53:08 ******/
CREATE DATABASE [OrdersPaymentsDB]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrdersPaymentsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrdersPaymentsDB]
GO
/****** Object:  Table [dbo].[FUNDS]    Script Date: 25.05.2022 23:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNDS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[sum] [float] NOT NULL,
	[remain] [float] NOT NULL,
 CONSTRAINT [PK_FUNDS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 25.05.2022 23:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[sum] [float] NOT NULL,
	[paidSum] [float] NOT NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 25.05.2022 23:53:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[fundId] [int] NOT NULL,
	[paymentSum] [float] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FUNDS] ADD  CONSTRAINT [DF_FUNDS_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[FUNDS] ADD  CONSTRAINT [DF_FUNDS_remain]  DEFAULT ((0)) FOR [remain]
GO
ALTER TABLE [dbo].[ORDERS] ADD  CONSTRAINT [DF_ORDERS_date]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[ORDERS] ADD  CONSTRAINT [DF_ORDERS_paid_sum]  DEFAULT ((0)) FOR [paidSum]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Payments_FUNDS] FOREIGN KEY([fundId])
REFERENCES [dbo].[FUNDS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_Payments_FUNDS]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ORDERS] FOREIGN KEY([orderId])
REFERENCES [dbo].[ORDERS] ([id])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_Payments_ORDERS]
GO
USE [master]
GO
